openapi: 3.0.1
info:
  version: '1.0'
  title: CTrip APIs
servers:
  - url: 'https://apigatewayqa.adient.com/ctrip/v1'
    description: Quality
paths:
  /SaveCorpCustInfoList:
    post:
      summary: Save Corporate Customer Information List to CTrip
      description: Save Corporate Customer Information List to CTrip
      operationId: SaveCorpCustlnfoList
      tags:
        - Corporate Customer Information
      requestBody:
        description: Request body for data update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorpCustInfoList'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CorpCustInfoListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    CorpCustInfoList:
      type: object
      properties:
        Appkey:
          type: string
        Ticket:
          type: string
        CorporationID:
          type: string
        AuthenticationInfoList:
          type: array
          items:
            type: object
            properties:
              Authentication:
                type: object
                properties:
                  Name:
                    type: string
                  NameENFirstName:
                    type: string
                  NameENLastName:
                    type: string
                  Dept1:
                    type: string
                  Dept2:
                    type: string
                  EmployeeID:
                    type: string
                  Email:
                    type: string
                  CorpCardType:
                    type: string
                  Valid:
                    type: string
                  SubAccountName:
                    type: string
                  ConcurAccount:
                    type: string
                  IsSendEMail:
                    type: string
                  AuthEmailLanguage:
                    type: string
                  ConfirmPersonList:
                    type: array
                    items:
                      type: object
                      properties:
                        ProductType:
                          type: string
                        AuthorizedTime:
                          type: number
                        ConfirmPerson:
                          type: string
                        ConfirmPersoncc:
                          type: string
                        IsDefault:
                          type: boolean
    CorpCustInfoListResponse:
      type: object
      properties:
        Result:
          type: string
        ErrorMessageList:
          type: array
          items:
            type: object
security:
  - ApiKeyAuth: []